<h2>Edit <%=@figure.name%></h2><br><br>

<form action="/figures/<%=@figure.id%>" method="post">

  <!-- Figure Name -->
  <div class="form-group row">
    <label for="figure_name" class="col-sm-2 form-control-label">Figure Name:</label>
    <div class="col-sm-3">
      <input type="text" id="figure_name" name="figure[name]" value="<%=@figure.name%>" class="form-control">
    </div>
  </div>

  <!-- Landmark Checkboxes -->
  <div class="form-group row">
    <label class="col-sm-2">Add Landmarks</label>
    <div class="col-sm-3">
      <div class="checkbox">
        <label>
          <% Landmark.all.each do |landmark| %>
          <div class="row">
            <input id="<%=landmark.name%>" type="checkbox" name="figure[landmark_ids][]" <%="checked" if @figure.landmarks.include?(landmark)%> value="<%=landmark.id%>"> <%= landmark.name %>
          </div>
          <% end %>
        </label>
      </div>
    </div>

    <!-- Title Checkboxes -->
    <label class="col-sm-2">Add Titles</label>
    <div class="col-sm-4">
      <div class="checkbox">
        <label>
          <% Title.all.each do |title| %>
          <div class="row">
            <input id="<%=title.name%>" type="checkbox" name="figure[title_ids][]" <%="checked" if @figure.titles.include?(title)%> value="<%=title.id%>"> <%=title.name%>
          </div>
          <% end %>
        </label>
      </div>
    </div>
  </div>

  <!-- Submit Button -->
  <div class="form-group row">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Edit Figure</button>
    </div>
  </div>

</form>
